In [4]:
import pandas as pd 

df = pd.read_csv("csv/carprices (1).csv")
df = df.rename(columns={"Sell Price($)":'price','Age(yrs)':'age'})
df.head()

   Mileage  age  price
0    69000    6  18000
1    35000    3  34000
2    57000    5  26100
3    22500    2  40000
4    46000    4  31500

In [28]:
X = df.drop("price",axis='columns')
y = df.price

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1, test_size=0.2)

In [34]:
model = LinearRegression()
model.fit(X_train,y_train)
model.predict(X_test)
model.score(X_test,y_test)

0.8672131952793669