In [15]:
import pandas as pd 

df = pd.read_csv("csv/ai_job_dataset.csv")
df[(df['salary_usd']>300000) & (df['salary_currency']=="USD") ]

,job_id,job_title,salary_usd,salary_currency,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,posting_date,application_deadline,job_description_length,benefits_score,company_name
67,AI00068,Machine Learning Engineer,316182,USD,EX,PT,Denmark,M,Canada,0,"Python, Scala, Statistics, Git",Associate,12,Finance,2025-02-09,2025-02-23,2452,7.0,Digital Transformation LLC
137,AI00138,Machine Learning Engineer,324557,USD,EX,FT,Denmark,L,Denmark,100,"Hadoop, Python, Git, TensorFlow",PhD,11,Telecommunications,2024-11-06,2024-11-24,1209,7.3,Machine Intelligence Group
185,AI00186,Deep Learning Engineer,300422,USD,EX,PT,Denmark,M,India,100,"Python, TensorFlow, R",Bachelor,11,Education,2024-09-30,2024-11-18,2385,9.9,Machine Intelligence Group
215,AI00216,AI Software Engineer,301038,USD,EX,PT,Norway,M,Norway,50,"GCP, Azure, Deep Learning, Spark, SQL",PhD,18,Media,2025-04-15,2025-05-13,1248,5.5,Cognitive Computing
317,AI00318,Data Scientist,388754,USD,EX,CT,Switzerland,L,United States,0,"Docker, Python, Mathematics",Master,16,Transportation,2024-06-20,2024-08-11,829,8.6,DeepTech Ventures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14705,AI14706,Data Engineer,328657,USD,EX,FT,Norway,L,Denmark,0,"SQL, Hadoop, Git, Computer Vision",Associate,13,Retail,2024-12-06,2025-02-10,1887,5.3,Cognitive Computing
14773,AI14774,Data Analyst,320379,USD,EX,PT,Denmark,M,Denmark,50,"Python, Linux, Deep Learning, NLP, Azure",Master,16,Technology,2025-04-07,2025-06-17,2283,9.4,Future Systems
14872,AI14873,AI Specialist,302035,USD,EX,CT,Denmark,L,Denmark,100,"Git, Spark, Linux",Associate,12,Real Estate,2024-01-29,2024-03-18,1678,9.9,Digital Transformation LLC
14916,AI14917,Principal Data Scientist,307237,USD,EX,CT,United States,L,United States,0,"SQL, Hadoop, Docker, Statistics",PhD,14,Energy,2025-04-09,2025-05-23,1773,8.8,DataVision Ltd
14977,AI14978,Research Scientist,325968,USD,EX,CT,Norway,M,Israel,100,"Python, Spark, MLOps, Computer Vision, Deep Le...",Associate,10,Technology,2024-07-17,2024-09-13,1514,9.8,Quantum Computing Inc